#here {
	position:fixed;
	top:10px;
	left:10px;
}
#draw {
    position:fixed;
    top:5px;
    left:5px;
    width:300px;
    height:300px;
    border:1px solid black;
}
#key {
    position:fixed;
    top: 310px;
    left: 5px;
    font-size:12px;
}
.line {
	position:fixed;
}
